.bottom-controls{
    display: none;
    background-color: white;
    height: 50px;
    padding: 10px; 
    box-shadow: 1px 0px 2px 0px lightgrey;
    border: solid 1px lightgrey;
}

#play, #fix-scale{
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 30px;
    height: 30px;
}

#play.stopped{    
    background-image: url("../img/play.png");
}

#play.playing{    
    background-image: url("../img/pause.png");
}

.watch{    
    background-image: url("../img/eye_opened.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.watch.active{    
    background-image: url("../img/eye_closed.png");
}

#fix-scale{
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#fix-scale.locked{    
    background-image: url("../img/locked.png");
}

#fix-scale.unlocked{    
    background-image: url("../img/unlocked.png");
}

#year-slider{
    float: left;
    margin-left: 30px;
}

.side-controls {
    position: absolute;
    right: 20px;
    top: 10px;
}

.side-controls label{
    font-size: .8em;
}

.side-controls button, .bottom-controls button {
    border-radius: 50%;      
    border: solid 1px grey;
    background-color: white;
}

.side-controls button{    
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.bottom-controls button{    
    border: solid 3px grey;  
    float: left;
}

/*align children to center*/
.side-controls  > *, #scale-slider-container > *, #fix-wrapper > *{    
    margin-left: auto;
    margin-right: auto;      
    display: block;
    text-align: center;
}

#current-scale{
    margin-top: 40px;
}

/*unified borders*/
#current-scale, #fix-wrapper, #scale-slider-container{
    margin-bottom: 0px;    
    background-color: white;
    background: white;
    opacity: 0.8;
    border: solid 1px lightgrey;
}

.side-controls button:focus, button:focus{
    /*remove bootstrap outline*/
    outline: 0 none !important;
    //border: solid 1px gold;
    //box-shadow: 0px 0px 1px 1px gold;
}

.side-controls button:hover, .bottom-controls button:hover{    
    border: solid 1px gold;
    box-shadow: 0px 0px 4px 2px gold;
}

.download-btn img {
    width: 100%;
}

.side-controls .png{
    margin-top: 45px;
}

.d3-slider-axis{
    pointer-events: none;
}

#scale-slider-container{
    width: 50px;
    padding-top: 10px; 
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

/*disable elements (no interaction possible)*/
.disabled{    
  pointer-events: none !important;
  opacity: 0.5 !important;
}