/* 
    Created on : 17.03.2015, 9:31:53
    Author     : Christoph Franke
*/

html, body {
}

body {
    background-color: #EBEBE0;
}

#description{
    background-color: white;
    padding: 10px;
}

.tab-content, #summary{
    background-color: white;
    min-height: 500px;
    width: 100%;
    transition: height 1s;
    border: solid 1px grey;
    margin-top: -1px;
    z-index: 10;
    padding: 10px;
    padding-bottom: 20px; 
    box-shadow: 1px 0px 2px 0px grey;
}

#summary{
    margin-top: 45px;
}

.nav-pills > li > a{
    z-index: 1;
    background-color: white;
    color: grey;
    border: solid 1px grey;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0px; 
    margin-top: 15px;
    height: 30px;
    box-shadow: 1px 0px 1px 0px grey;
}

.nav-pills > li + li{
    margin-left: -1px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: white;
    color: black;
    border: solid 1px grey; 
    z-index: 100; 
    border-bottom: 0px; 
    margin-top: 5px;
    height: 41px;
    box-shadow: 1px 0px 2px 0px grey;
}

.nav-pills > li > a:hover{
    background-color: white;    
    height: 40px;
    margin-top: 5px;
}

#rsSelect {
    width: 100%;
}

#prognosis-data td{
    padding: 1px 5px 1px 5px !important;
    //line-height: 0.5;
}

#rootwizard {
    padding-right: 0px;
}

#controls {
    padding-left: 0px;
}

#controls button {
    background-color: white;
    border: solid 1px grey;
    width: 50px!important;
    height: 50px;
    box-shadow: 1px 0px 2px 0px grey;
}

#controls button img{
    height: 30%;
}

#slide-controls{
    display: none;
    background-color: white;
}

#play{
    float: left;
    width: 30px;
}

#year-slider{
    float: right;
    right: 0px;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    //border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-range-horizontal {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-horizontal .d3-slider-axis-bottom{
    height: 30px;
}

.d3-slider-horizontal .d3-slider-handle{
    margin-left: -0.6em;
    margin-top: -0.6em;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: 0em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

.modal{
    top: 50px;
}

/*
form { display: table; }
form p { display: table-row;}
form label, form input { 
    display: table-cell;  
    padding-right: 10px; 
    margin-bottom: 10px;
}*/

.form-control.invalid{
    box-shadow: 0px 0px 3px 0px red;
    border-color: red;
}

.modal #status{
    color: red;
}

@media (min-width: 768px) {
    
    #mainFrame{
        margin-left: 50px;
        margin-top: 60px;
    }
    
    #controls button {
        margin-bottom: 20px;
        margin-right: 100%;
        margin-left: -1px;
        border-left: 0px;
        z-index: 20;
        width: 80px;
    }
    
    #controls #png{
        margin-top: 45px;
    }
}