#map, #map-header{
    background: white;
    border: solid 1px lightgrey;
    box-shadow: 1px 0px 2px 0px lightgrey;
}

#map{    
    min-height: 200px;
}

#map-header{
    background: #F7F7F3;
}

rect.background{
    fill: white;
}

.subunit{
    fill: #454545;
}

.toplayer {
    fill: #E6E6E6;
}

/* ZOOM MESSES UP STROKE STYLES!*/
.subunit-boundary {
  fill: none;
  stroke: white;
  /*stroke-width: 1px;
  stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
}

.outer-boundary {
  fill: none;
  /*stroke-width: 1px;*/
  stroke: darkgrey;
  stroke-linejoin: round;
}

.subunit.highlight{
    stroke-width: 1px;
    stroke: gold;
}

.subunit.selected{
    fill: gold;
}
