rect.background{
    fill: white;
}

.subunit{
    fill: #99FF99;
}

.toplevel {
    fill: #E6E6E6;
}

.subunit-boundary {
  fill: none;
  stroke-width: 1px;
  stroke: white;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.outer-boundary {
  fill: none;
  stroke-width: 1px;
  stroke: darkgrey;
  stroke-linejoin: round;
}

.subunit.highlight{
    fill: gold;
}

.subunit.active{
    stroke-width: 2px;
    stroke: gold;
    stroke-linejoin: round;
}
