/*
    Author: Christoph Franke
    Publisher: GGR
*/
#main-menu{    
    z-index: 10;
    height: 50px;
    background-color: white;
    position: relative;
}

#main-menu .navbar-brand{
    height: 50px;
    padding: 10px;
}

#main-menu .navbar-brand img{
    height: 100%;
}

#main-menu a{
    color: white;
}

#main-menu #prognosis{    
    background-color: lightsalmon;
}

#main-menu #admin{    
    background-color: lightcoral;
}

#main-menu #login{  
    background-color: gold;
}

/* SUBMENUS*/
.submenu{
    position: relative;
    width: 100%;
    min-height: 10px;
    z-index: 1;
    display: none;
}

.submenu.active{
    display: block;
}

.submenu .navbar-header{
    padding: 15px 15px;
}

#prognosis-menu{
    background-color: lightsalmon;
}

#admin-menu{
    background-color: lightcoral;
}

#login-menu{
    background-color: gold;
}

#prognosis-menu a, #prognosis-menu .navbar-header{
    color: white;
}

#prognosis-menu .active a{
    background-color: darksalmon;
}

@media (min-width: 768px) {
    
    #main-menu ul{
        padding-left: 100px;
    }

    #main-menu .menu-link{            
        border-radius: 5px 5px 0px 0px;
        height: 35px;
        margin-top: 15px;
        transition: all 0.1s;
        transition-timing-function: ease-out;
    }

    #main-menu .active a{    
        height: 45px;
        margin-top: 5px;
    }    
    
    .submenu{
        
        position: absolute;
        width: 100%;
        top: 0px;
        transition: all 0.1s;
        transition-timing-function: ease-out;
        display: block;
        
        //transition: all 0.1s;
        //height: 0px;
    }

    .submenu.active{        
        top: 50px;
        display: block;       
    }
}
