/* 
    Created on : 17.03.2015, 9:31:53
    Author     : Christoph Franke
*/

html, body {
}

/* workaround for problem with inactive bootstrap tabs (you can't get the right properties of containers with diplay: none) 
warning: it overrides the overflow-y! */
.tab-content-wa>.tab-pane{
    display: block; /* override display: none of bootrstrap */
}
.tab-content-wa>.tab-pane, 
.tab-content-wa>.tab-pane>div{  /* in our case the child of tab-pane is used for the views, needs to be hidden as well */
    height: 0;        /* those two lines hide the div*/
    overflow-y: hidden;
}
.tab-content-wa>.active, 
.tab-content-wa>.active>div{
    height: auto; /* this shows the div again */
}

body {
    background-image: url('../img/back2.png');
}

.centered{
    text-align: center;
}

#visualizations, #vis-reference, #tables, #map-wrapper{
    /* bootstrap padding messes up relative width of children, use margin instead */
    padding-left: 0;
    padding-right: 0;
    /* keep distance to neighbouring divs (bottom space needed on small devices) */
    margin-right: 10px;    
    margin-bottom: 15px;
}

#visualizations{
    /* vis. need more space because of the 50px high play-controls at the bottom*/    
    margin-bottom: 65px;
}

.loader{    
    width: 40px;
    height: 40px;
    background-image: url('../img/waiting_circle.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position:absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
}

.text-body{
    //background-color: white;
    padding: 10px;
}

.text-body + .text-body{
    margin-top: 20px;
}

table tbody tr.highlight, .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: lightgrey;
}

.shadow-box, #summary{
    background-color: white;
    border: solid 1px lightgrey;
    box-shadow: 1px 0px 2px 0px lightgrey;
}

.tab-content, #summary{
    width: 100%;
    z-index: 10;
    padding-bottom: 20px; 
    margin-top: -1px;
    min-height: 200px;
}

#tables .tab-content{    
    padding: 10px;
}

.nav-tabs{
    border: solid 1px lightgrey;
    box-shadow: 1px 0px 2px 0px lightgrey;
    border-bottom: 0;
}

.grouped{
    border: solid 1px lightgrey;
    padding: 10px;    
    box-shadow: 1px 0px 2px 0px lightgrey;
    border: solid 1px lightgrey;
    background: #F7F7F3;
}

.tab-pane{ 
    overflow: auto;
}

#dd-tab, #hh-tab{
    overflow: visible;
}

.nav-tabs{    
    background-color: #F7F7F3;
}

.nav-tabs > li > a{    
    border-radius: 0 0 0 0;
}

/* DEACTIVATED CUSTOM NAVTABS
.nav-tabs > li > a{
    z-index: 1;
    background-color: white;
    color: lightgrey;
    border: solid 1px lightgrey;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0px; 
    margin-top: 15px;
    height: 30px;
    box-shadow: 1px 0px 1px 0px lightgrey;
}

.nav-tabs > li + li{
    margin-left: -1px;
}

.nav-tabs > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: white;
    color: black;
    z-index: 100; 
    margin-top: 5px;
    height: 41px;
    box-shadow: 1px -1px 2px 0px lightgrey;
}

.nav-tabs > li > a:hover{
    background-color: white;    
    height: 40px;
    margin-top: 5px;
}
*/

#rsSelect {
    width: 100%;
}

#prognosis-data td{
    padding: 1px 5px 1px 5px !important;
    //line-height: 0.5;
}

.modal{
    top: 50px;
}

.form-control.invalid{
    box-shadow: 0px 0px 3px 0px red;
    border-color: red;
}

.modal #status{
    color: red;
}

.csv {
    margin: 0 auto;
}

.form-control:focus, select:focus{    
    box-shadow: 0px 0px 2px 1px gold;
    border: solid 1px gold;
}

.icon {
    border-radius: 50%;    
    border: solid 1px lightgrey;
    background: white;
    height: 19px;
    width: 19px;
    margin-right: 5px;
    float: left;
    padding: 2px;
}

.icon img{
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    opacity: 0.5;
}

li.active img{
    opacity: 1.0;
}

@media (min-width: 768px) {
    
    #mainFrame{
        padding-left: 10px;
        margin-top: 50px;
    }    
}