/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.03.2015, 13:12:07
    Author     : GGR
*/


svg {
  font: 10px sans-serif;
}

/*
.y.axis path, 
.y.axis line {
  display: none;
}*/

svg .title{    
    font-size: 1.5em;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}

.x.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.male rect {
  fill-opacity: 1;
  fill: #5EDAFF;
}

.female rect {
  fill-opacity: 1;
  fill: #FFE573;
}