/*
    Author: Christoph Franke
    Publisher: GGR
*/


svg {
  font: 0.8em sans-serif;
}

.title{    
    font-size: 1.5em;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}

.x.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

rect.male{
  fill-opacity: 1;
  fill: #0066FF;
}

text.male{
  stroke: #0066FF;  
}

rect.female{
  fill-opacity: 1;
  fill: #CC3399;
}

text.female{
  stroke: #CC3399;
}


/*hide path, else its rendered as black box by some svg viewers like inkscape and imageMagick*/
path {
    display: none;
    visibility: hidden;
}