Kommune <select id="rsSelect"> </select>
<br/>
<br/>
<div id="rootwizard">    
    <ul class="nav nav-pills">
        <li><a href="#tab1" data-toggle="tab">Tabelle</a></li>
        <li id="ageTreeBtn"><a href="#tab2" data-toggle="tab">Altersbaum</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="tab1">        
            <br>
            Jahr <select id="yearSelect"> </select>
            <div id="datatable"></div>
        </div>
        <div class="tab-pane" id="tab2">            
            <div id="agetree"></div>
            <div id="slider"></div>
        </div>
    </div>	
</div>
