<div id="rootwizard">    
    Jahr <select id="yearSelect"> </select>
    <ul class="nav nav-pills">
        <li><a href="#tab1" data-toggle="tab">Tabelle</a></li>
        <li id="ageTreeBtn"><a href="#tab2" data-toggle="tab">Altersbaum</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <div class="table"></div>
        </div>
        <div class="tab-pane" id="tab2">            
            <div class="visualization"></div>
        </div>
    </div>	
</div>
