<!doctype html>
<!--
template of the WelcomeView
-->
<div class="col-md-2"> </div>

<div class="col-md-4"> 
    <!--<h1 class="centered">GGR Statistik</h1>-->
    <div class="text-body shadow-box">  
        
        <h2> Herzlich Willkommen </h2>
        <p>
            bei der Statistikseite der Gertz Gutsche Rümenapp GbR. 
            Sie benötigen einen <a href="#login">Login</a>, um sich die Prognosen ansehen zu können
        </p>
        
        <p>
            Sind sie noch nicht angemeldet, kontaktieren Sie &lt;Name mit Verlinkung &gt;
        </p>
    </div>
    
</div>
