<!doctype html>
<!--
template of the WelcomeView
-->
<div class="col-md-2"> </div>

<div class="col-md-4"> 
  <!--<h1 class="centered">GGR Statistik</h1>-->
  <div class="text-body shadow-box">  
    <h2> Herzlich Willkommen </h2>
    <p>
      beim Online-Prognosetool der <a href="http://www.ggr-planung.de">Gertz Gutsche Rümenapp GbR. </a>
        Sie benötigen einen <a href="#login">Login</a>, um sich die Prognosen ansehen zu können
    </p>

    <p>
      Falls Sie noch nicht registriert sind oder technische Fragen haben, kontaktieren Sie bitte den Administrator <a href="&#109;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#x66;&#114;&#97;&#x6e;&#x6b;&#101;&#64;&#x67;&#x67;&#114;&#45;&#112;&#108;&#x61;&#x6e;&#117;&#x6e;&#x67;&#x2e;&#x64;&#x65;"> Christoph Franke <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
    </p>
  </div>

</div>
