<!doctype html>
<link rel='stylesheet' type='text/css' href='css/visualizations.css'>
<div class='container-fluid'>    
  <div id='visualizations' class='col-lg-7 col-md-12'>    
    <!-- links activate vis-tabs and data-tabs as well, because addressed by class -->
    <ul class='nav nav-tabs'>
      <li class='active'>
        <a href='.development-tab' data-toggle='tab'>     
          <div class = 'icon'>
            <img src='img/linechart.png'>
          </div>
          Entwicklung
        </a>
      </li>      
      <li id='hhsizes'>
        <a href='.sizes-tab' data-toggle='tab'>    
          <div class = 'icon'>
            <img src='img/barchart.png'>
          </div>
          Haushaltsgrößen
        </a>
      </li>
      <li id='desc'>
        <a href='.desc-tab' data-toggle='tab'>          
          <div class = 'icon'>
            <img src='img/text.png'>
          </div>
          Anmerkungen
        </a>
      </li>
    </ul>
    
    <div class='tab-content shadow-box'>    
      <div class='tab-pane active development-tab'>     
        <div id="absolute-c" style="position: relative">
            <div id='absolute' class='centered'>  
              <h3> Kein Gebiet ausgewählt! </h3>
            </div>
            <div class='side-controls' style='display: none'> 
              <button class='download-btn png' title='Grafik als png-Datei speichern'> 
                <img src='img/camera-black.png'> 
              </button>
            </div>
        </div>  
        <div id="relative-c" style="position: relative">
            <div id='relative' class='centered'></div>
            <div class='side-controls' style='display: none'> 
              <button class='download-btn png' title='Grafik als png-Datei speichern'> 
                <img src='img/camera-black.png'> 
              </button>
            </div>
        </div>
      </div>          
        
      <div class='tab-pane sizes-tab'>     
        <div id='sizes-chart' class='centered'>  
          <h3> Kein Gebiet ausgewählt! </h3>
        </div>
        <div class='side-controls' style='display: none'> 
          <button class='download-btn png' title='Grafik als png-Datei speichern'> 
            <img src='img/camera-black.png'> 
          </button>
        </div>
      </div>         
      
      <div class='tab-pane desc-tab'>            
        <div id='description' class='text-body'>  
          <h3> - </h3>
        </div>
      </div>      
    </div>	
  </div>

  <div id='tables' class='col-lg-4 col-md-12' style='display: none'> 
    <div class='shadow-box box-header'></div>
    <div class='tab-content shadow-box'>      
      <div class='tab-pane active development-tab'>  <!-- this one is active at first, because corresponding development vis is the first active one-->
        <div id='dev-data'></div> 
        <br>
        <% if (!user.limited_access) {%>
        <button type='button' class='btn btn-secondary download-btn csv' style='float: right;' title='Datenblatt als csv-Datei speichern.'>Export als csv</button>
        <%}%> 
        <br>
      </div>       
      <div class='tab-pane sizes-tab'>
        <div id='sizes-data'></div> 
        <br>
        <% if (!user.limited_access) {%>
        <button type='button' class='btn btn-secondary download-btn csv' style='float: right;' title='Datenblatt als csv-Datei speichern.'>Export als csv</button>
        <%}%> 
        <br>
      </div>    
    </div>
    <div class='shadow-box box-footer'>
      <% if (!user.limited_access) {%>
      <button type='button' id='raw-data-btn' class='btn btn-primary download-btn csv' title='Vollständige Haushaltsprognose für gewählte Region als csv-Datei speichern.'>Gesamtdaten als csv</button>
      <%}%> 
    </div>
  </div>        
</div>        

<!-- auxiliary divs that are used to render and convert data, but are not supposed to be seen by user -->
<div id='pngWrapper' style='display: none'>
  <canvas id='pngRenderer'></canvas>
</div>
<div id='raw-data' style='display: none;'> </div>