<!DOCTYPE html>
<!--
template of the NavbarView
-->
<div class='container-fluid' id='main-menu'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#main-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' target='_blank' href='http://www.ggr-planung.de/'>
      <img src='img/ggr.gif'> 
    </a>
  </div>

  <div class='collapse navbar-collapse' id='main-collapse'>
    <ul class='nav navbar-nav'>        
      <li><a class='menu-link' id='home' href='#'> 
          <img src='img/home.png'>
          Start
        </a></li>
      <li><a class='menu-link' id='prognosis' href='#prognosen'>Prognosen</a></li>
      <li><a class='menu-link' id='admin' href='#admin'>Admin</a></li>
      <li><a class='menu-link' id='login' href='#login'>Login</a></li>
      <!--<li><a class='menu-link' id='legaldetails' href='#impressum'>Impressum</a></li>-->
    </ul>
    <a href="#login" id="login-status"> nicht eingeloggt </a>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

<!-- PROGNOSIS MENU -->

<div class='container-fluid submenu active' id='prognosis-submenu'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#prognosis-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <form role='form' class='form-inline'>  
      <label>Prognose</label> 
      <select class='form-control' id='progSelect' style='width: 200px'> </select>
    </form>
  </div>

  <div class='collapse navbar-collapse' id='prognosis-collapse'>
    <ul class='nav navbar-nav'>  
      <li class='active' id='li-overview'><a href='#overview-tab' data-toggle='tab'> Übersicht</a></li>
      <li id='li-dd'><a href='#dd-tab' data-toggle='tab'>Bevölkerung</a></li>
      <li id='li-hh'><a href='#hh-tab' data-toggle='tab'>Haushalt</a></li>
    </ul>
    <label style='float: right; color: white;'> Alphaversion </label>
    
  </div><!-- /.navbar-collapse -->  
</div><!-- /.container-fluid -->

<!-- SEPERATING DECORATIVE SUBMENUS -->
<div class='container-fluid submenu' id='admin-submenu'></div>
<div class='container-fluid submenu' id='login-submenu'></div>
<div class='container-fluid submenu' id='home-submenu'></div>
<div class='container-fluid submenu' id='legaldetails-submenu'></div>