<!DOCTYPE html>
<!--
template of the NavbarView
-->
<div class="container-fluid" id="main-menu">
  <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" target="_blank" href="http://www.ggr-planung.de/">
        <img src="../../../img/ggr.gif"> 
    </a>
  </div>

  <div class="collapse navbar-collapse" id="main-collapse">
    <ul class="nav navbar-nav">        
        <li><a class="menu-link" id="home" href="#"> 
                <img src="../../../img/home.png">
            </a></li>
        <li><a class="menu-link" id="prognosis" href="#prognosen">Prognosen</a></li>
        <li><a class="menu-link" id="admin" href="#admin">Admin</a></li>
      <li><a class="menu-link" id="login" href="#login">Einloggen</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

<!-- PROGNOSIS MENU -->

<div class="container-fluid submenu active" id="prognosis-menu">
  <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#prognosis-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    Prognose <select id="progSelect"> </select>
  </div>

  <div class="collapse navbar-collapse" id="prognosis-collapse">
    <ul class="nav navbar-nav">  
        <li><a id="prognosis-content" href="#prognosen">Zusammenfassung</a></li>
        <li><a id="demodevelop" href="#bevoelkerungsprognose">Bevölkerung</a></li>
        <li><a id="none" href="#prognosen">Haushalt</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

<!-- SEPERATING DECORATIVE SUBMENUS -->
<div class="container-fluid submenu" id="admin-menu"></div>

<div class="container-fluid submenu" id="login-menu"></div>

<div class="container-fluid submenu" id="home-menu"></div>