<!doctype html>
<br><br>
<div class='container-fluid'>    
  <div class='col-lg-3 col-sm-5'>
    <div class='row shadow-box box-header' id='map-header'>
      <div class='col-md-5' id='layer-select-wrapper' style='display: none'> 
        Gliederungsebene
        <select class='form-control' id='layer-select'> </select> <br>
      </div>
      <div class='col-md-7'> 
        <div id='region-label' style='display: none'> Region </div>
        <select id='region-select' style='display: none' multiple> </select><br>
      </div>
    </div>
    <div class="row shadow-box" id='map'></div> 
    <div class='row shadow-box box-footer' id='sub-map-nav' style='display: none'>
      <div id='selection-label'></div> 
      <label id="multi-tip" style='float: left; font-size: 0.7em; display: none;'>Tipp: Halten Sie die Shift- oder Strg- Taste gedrückt, um mehrere Gebiete auszuwählen. </label>      
      <!--
      <a href='#overview-tab' data-toggle='tab'>
        Übersicht 
        <span class='glyphicon glyphicon-play'></span>        
      </a>    
      <br>
      <a href='#dd-tab' data-toggle='tab'>
        Bevölkerungsprognose 
        <span class='glyphicon glyphicon-play'></span>
      </a>    
      <br>
      <a href='#hh-tab' data-toggle='tab'>
        Haushaltsprognose 
        <span class='glyphicon glyphicon-play'></span>
      </a>    
      -->
      <br> 
    </div>
  </div>
  
  <div class="col-lg-9 col-sm-7"> 
    <!-- workaround for issues with bootstrap-class tab-content (see site.css)-->
    <div class='tab-content-wa'>    
      <div class='tab-pane active' id='overview-tab'>  
        <div class="col-lg-7 col-md-12"> 
          <div class="text-body shadow-box" id='description-div' style='display: none'>
            <h3 id="title" ></h3>
            <p id="description">
            </p>
          </div>
          <div class="text-body shadow-box" id='overview' style='display: none'>
            <h3>Eckdaten der Prognose für die Gesamtregion</h3>   
            <p>
              Basisjahr: <label id="base-year"></label>
            </p>
            <p>
              maximale Bevölkerungszahl: <label id="max-inhabitants"></label>
            </p>
          </div>
        </div>
      </div>          
      <div class='tab-pane' id='dd-tab'>  
      </div>  
      <div class='tab-pane' id='hh-tab'>   
      </div>
    </div>
  </div>
</div>

