<!doctype html>
<br><br>
<div class='container-fluid'>    
  <div class='col-md-3' id='map-wrapper'> 
    <div class='row' id='map-header'>
      <div class='col-md-5' id='layer-select-wrapper' style='display: none'> 
        Gliederungsebene
        <select class='form-control' id='layer-select'> </select> <br>
      </div>
      <div class='col-md-7'> 
        <div id='region-label' style='display: none'> Region </div>
        <select id='region-select' style='display: none' multiple> </select><br>
      </div>
    </div>
    <div class='row' id='map'></div>  
  </div>
  
  <div class="col-md-9"> 
    <div class='tab-content'>    
      <div class='tab-pane active' id='overview-tab'>  
        <!-- ATTENTION: this should have same size as visualization column in demodevelop.html (taken as reference for unknown widths in inactive tabs) -->
        <div class="col-md-7" id='vis-reference'> 
          <div class="text-body shadow-box" id='description-div' style='display: none'>
            <h2 id="title" ></h2>
            <p id="description">
            </p>
          </div>
          <div class="text-body shadow-box" id='demo-link-div' style='display: none'>
            <a href='#dd-tab' data-toggle='tab'>
              <h3>
                Bevölkerungsprognose 
                <span class='glyphicon glyphicon-play'></span>
              </h3>
            </a>            
          </div>
          <div class="text-body shadow-box" id='hh-link-div' style='display: none'>
            <a href='#haushaltsprognose'>
              <h3>
                Haushaltsprognose 
                <span class='glyphicon glyphicon-play'></span>
              </h3>
            </a>      
          </div>
        </div>
      </div>          
      <div class='tab-pane' id='dd-tab'>  
      </div>  
      <div class='tab-pane' id='hh-tab'>   
      </div>
    </div>
  </div>
</div>

